@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.cdnfonts.com/css/univers');
*{
    font-family: 'Univers', sans-serif;
    color: #E7183B;
}
:root {
    --main-color: #FFF1F1;
}
.ds{
    font-family: 'Sofia', sans-serif;
    color: #E7183B;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.container{
    text-align: center;
    width: 100%;
    min-height: 85vh;
    
}
.shopping-cart {
    display: none;
  }
.card{
    margin: auto;
    height: 500px;
}
.row{
    display: flex;
    flex-direction: row;
}
body > div > div.row > div:nth-child(1) > h1 > span:nth-child(2){
    font-weight: Thin;
}
.btn{
    color: #E7183B;
    background-color: var(--main-color);
}
.btn:hover{
    color: var(--main-color);
    background-color: #E7183B;
}
nav{
    background-color: var(--main-color);
}
i{
    color: #E7183B;
}
.wi{
    font-weight: bolder;
    color: black;
}
.navbar-light .navbar-nav .nav-link{
    color: #E7183B;
}
@media screen and (max-width: 992px) {
    body > div > div.row.align-items-center > div:nth-child(1){
        display: none;
    }
    body > div > div.row.align-items-center > div:nth-child(2){
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
#hiddendiv{
    visibility: hidden;
}
#hiddendiv.mama{
    visibility: visible;
}
#bigdiv > div.row{
    visibility: visible;
}
#bigdiv > div.row.mama{
    visibility: hidden;
}